//
// Load core variables and mixins
// --------------------------------------------------
@import "variables.less";
@import "mixins.less";
@import "theme-variables.less";
@import "theme-mixins.less";
@import "theme-components.less";

@grid-columns:              12;
@grid-gutter-width:         5%;
@grid-float-breakpoint:     768px;

@media (max-width : @screen-sm-min) {
	@grid-gutter-width: 24px;
}

.well {
	overflow: hidden;
}

//
// Typography
// --------------------------------------------------

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
	margin-top: 1em;
	margin-bottom: 1em;
}

html {
	font-size: 62.5%;
}
body > div {
	.font-size(1.6);
}

a {
	.transition(all .5s);
	&:hover {
		text-decoration: none;
	}
	.fa, 
	.glyphicon {
		color: lighten(@text-color, 40%);
	}
	&:hover {
		.fa, .glyphicon {
			color: @text-color;
		}
	}
}

hr {
	margin-top: 2em;
	margin-bottom: 2em;
}

.req {
  color: @req-color;
}

.video *,
video {
	.transition(none) !important;
}

article {
	img.pull-right {
		margin-left: 15px;
		margin-bottom: 15px;
	}
	img.pull-left {
		margin-right: 15px;
		margin-bottom: 15px;
	}
}


ul.bullets {
	margin: 1em 0;
	padding-left: 18px;
	& > li {
		margin-bottom: 1em;
		list-style: none;
		&:before {    
	    font-family: 'FontAwesome';
			font-size: .5em;
	    content: '\f111';
	    margin:.6em 5px 0 -15px;
			float: left;
			margin-left: -18px;
			color: #999;
		}
		& ul > li {
			list-style: none;
			&:before {    
		    font-family: 'FontAwesome';
				font-size: .5em;
		    content: '\f10c';
		    margin:.6em 5px 0 -15px;
				float: left;
				margin-left: -18px;
				color: #999;
			}
		}
	}
}




.margin-fix {
	margin-left: 15px;
	margin-right: 15px;
}

//
// COMPONENTS
// --------------------------------------------------
// --------------------------------------------------

//
// Media Player
// --------------------------------------------------

.media-player-wrapper {
  position: relative;
  width: 100%;
  max-height: 346px;
  background-color: @gray-dark;
  margin-bottom: @grid-gutter-width;
	clear: both;
}

//
// Forms
// --------------------------------------------------

form[role="form"] {
  .form-group {
    padding-top: 5px;
    padding-bottom: 5px;
  }
	.form-control-inline {
		width: auto;
		display: inline-block;
	}
	.form-group-row {
		.make-row();
		> .form-group {
			.make-sm-column(6);
		}
	}
  #cc_number {
    margin-bottom: 5px;
  }
  .form-group-country {
    margin-top: 10px;
  }
	label.full-width {
		display: block;
	}
}

//
// LAYOUT
// --------------------------------------------------
// --------------------------------------------------

//
// Header
// --------------------------------------------------

.navbar-wrap {
	position: relative;
}
.navbar-brand {
  position: relative;
  z-index: 3;
}

.navbar-collapse {
	.form-control {
		margin-top: @grid-gutter-width;
	}
}

@media (max-width : @screen-sm-min) {
	.nav {
		.caret {
			float: right;
			margin-top: 7px;
		}
		i.fa {
			float: left;
			margin-right: 10px;
			margin-top: 3px;
		}
	}
}

body.store #parent-store,
body.blog #parent-blogs,
body.about #parent-about,
body.resources #parent-resources,
body.programs #parent-programs,
body.events #parent-events,
body.store #parent-store,
body.donate #parent-donate {
	> a {
		background-color: #000;
	}
}

@mega-menu-text-color: #ccc;

.navbar {
	border-radius: 0;
	#parent-cart,
	#parent-account,
	#search-menu {
	  &:hover {
	    background-color: darken(@navbar-inverse-bg, 10%);
	  }
	  a {
	    background-color:  @mega-bg;
	    .transition(none);
	    &.collapsed {
	      background-color: transparent;
	    }
	    &:hover {
	      background-color:  @mega-bg;
				color: @mega-menu-text-color;
	    }

	    &.collapsed:hover {
	      background-color:  @mega-bg;
				color: @mega-menu-text-color;
	    }
	  }
		@media (min-width : @screen-sm-min ) and (max-width : @screen-lg-min) {
			a {
				border-radius: 2px 2px 0 0;
			}
		}
	}
	.dropdown {
		.dropdown-menu {
			display: block;
			top: -900em;
			.transition(all 0s ease);
			.opacity(.4);
		}
	}
	.dropdown:hover {
		.dropdown-menu {
			top: 3.4em;
			display: block;
			.opacity(1);
			.delay(.55s); 
		}
	}
}

span.dropdown-toggle {
	position: relative;
	z-index:3;
}

.mega-menu.in {
	padding-bottom: 0px;
}

#parent-cart,
#parent-account {
	position: relative;
	top: 1px;
}

#search-menu {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mega-menu {
	background-color:  @mega-bg;
	color: #fff;
}

#search-mega {

  /* z-index: 2; */
  background-color: @mega-bg;
  position: relative;
	.box-shadow(0 4px 0 rgba(0,0,0,.10));
	.navbar-form {
		.form-group {
			width: 84%;

		}
	  input.form-control {
	    margin-top: 20px;
	    margin-bottom: 20px;
			width: 100%;
	  }
		button {
			width: 15%;
		}
	}
}

.page-secondary-nav {
	
	#section-nav {
		a {
			color: #fff;
			text-shadow: none;
		}
    &.navbar {
	    background: @well-bg;
	    color: #fff;
			.navbar-nav a {
				background-color: darken(@well-bg, 5%);
				margin: 2px 0 2px 2px;

				&:hover {
					background-color: darken(@well-bg, 15%);
				}
			}
    }
	}
}

//
// Main
// --------------------------------------------------

.page {
	article.entry {
		// padding-top: 100px;
		padding-bottom: @grid-gutter-width;

		.make-row();

		header,
		.pager {
			.make-xs-column(12);
		}

		.pager {
			margin: 0;
		}
		.more-on-topic {
			margin: 2em 0;
		}
		.author-bio {
			background-color: @well-bg;
			padding: (@grid-gutter-width/1.5);
			position: relative;
			img {
				float: left;
				margin-right: @grid-gutter-width;
			}
			.read-more {
				position: absolute;
				right: @grid-gutter-width;
				top: @grid-gutter-width;
			}
		}
		.well {
			padding: 20px;
			& h1:first-child,
			& h3:first-child,
			& h2:first-child {
				margin-top: .15em;
			}
			&.credits {
				padding: 20px 30px;
			}
		}
	}
}

.page-default {
	article.entry {

		.social-nav {
			.make-sm-column(2);
			.make-sm-column-push(10);
			.make-md-column(1);
			.make-md-column-push(0);
			.make-lg-column(1);
			.social-buttons {
				width: 80px;
				position: absolute;
				&.affix-top {
					position: absolute;
				}
				&.affix {
					position: fixed;
				}
				&.affix-bottom {
					position: relative;
				}
			}
			button.btn {
				width: 100%;
				min-width: 60px;
				margin-bottom: 5px;
				border: none;
			}
		}

		section.main {
			.make-sm-column(10);
			.make-sm-column-pull(2);
			.make-md-column(8);
			.make-md-column-push(0);
			.make-lg-column(8);
		}

		aside {
			.box-sizing(border-box);
			.make-sm-column(12);
			.make-md-column(4);
			.make-lg-column(4);
			.nav {
				margin-bottom: @grid-gutter-width;
			}
		}
	}
}

.page-narrow-aside {
	article.entry {
		section.main {
			.make-sm-column(12);
			.make-sm-column-pull(0);
			.make-md-column(10);
			.make-md-column-push(0);
			.make-lg-column(10);
		}

		aside {
			.box-sizing(border-box);
			.make-sm-column(12);
			.make-md-column(2);
			.make-lg-column(2);
			.nav {
				margin-bottom: @grid-gutter-width;
			}
		}
	}
}

.page-simple {
	article.entry {

		section.main {
			.make-sm-column(12);
			.make-sm-column-pull(0);
			.make-md-column(8);
			.make-lg-column(9);
		}

		aside {
			.make-sm-column(12);
			.make-md-column(4);
			.make-lg-column(3);
		}
	}
}

.page-full-width {
	article.entry {
		section.main {
			.make-xs-column(12);
		}
	}
}

.page-product-detail {

	.main {
		.product-photo {
			margin-bottom: @grid-gutter-width;
		}
		.actionbar {
			.make-row();
			.buy,
			.social-buttons-inner {
				.make-xs-column(12);
				.make-sm-column(6);
				.well {
				  min-height: 100px; /* Or whatever */
				  margin: auto;  /* Magic! */
					text-align: center;
				}
			}
			.buy {
				.form-group {
					display: inline-block;
				}
			}
			.social-buttons-inner {
				.well {
					padding-top: 30px;
				}
			}
		}
		.main-content {
			.make-row();

			.product-info {
				.make-sm-column(9);
			}
			.aside {
				.make-sm-column(3);
			}

			.testimonials {
				.make-sm-column(12);
				blockquote {
					.make-sm-column(6);
				}
			}

			.related-products {
				.make-sm-column(12);
				.pods {
					.make-row();
					.pod {
						.make-sm-column(4);
					}
				}
			}
		}
	}


}

.blog-entries {
	.make-row();

	.media-list {
		.make-sm-column(12);
		.make-md-column(9);
	}
	aside {
		.make-md-column(3);
	}
}

.media-list {
  .pull-left {
    margin-right: @grid-gutter-width;
  }
}

.top-social-buttons {
  button {
    width: 100%;
		height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    .font-size(1.2);
    margin-bottom: 4px;
  }
  &.visible-xs {
    background: @gray-lighter;
    padding: 5px 1% 1%;
    position: fixed;
    top: 50px;
		height: 48px;
    width: 100%;
    .box-sizing(border-box);
    z-index: 1;
    border-bottom: 1px solid lighten(@gray-light, 28%);


    button {
      .font-size(1.3);
      width: 24.2%;
      margin-right: 1%;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}


//
// Footer
// --------------------------------------------------

footer#global-footer {
	background-color: @gray-lighter;
	padding-top: 50px;
	padding-bottom: 50px;
	clear: both;
	#footer-main {
		padding-bottom: 50px;

		.make-row();

		section {
			.make-md-column(4);
			&.featured-book {
				.pull-left {
					margin-right: @grid-gutter-width;
				}
				h4 {
					margin-top: 0;
				}
			}
			&.fun-stuff,
			&.contact-info {
				.make-sm-column(6);
				.make-md-column(4);
			}
		}

	}
	.thumbnails {
		.make-row();
		> a {
			.make-xs-column(4);
		}
	}

	.well {
		background-color: darken(@well-bg, 5%);
		&.email-sign-up {
			margin: @grid-gutter-width 0;
			position: relative;
			input[type="text"] {
				padding-right: 80px;
			}
			button {
				position: absolute;
				right: (@grid-gutter-width / 5);
				bottom: 0;
			}
		}
	}

	.email-sign-up {
		form {
			.make-row();
			.make-lg-column(12);
		}
	}
}

#footer-social {
	margin-top: @grid-gutter-width;
	padding: (@grid-gutter-width / 1.7) 0;
	border-top: 1px solid darken(@gray-lighter, 5%);
	clear: both;
	p {
		margin: 0;
	}
	.make-row();
	.credits {
		.make-md-column(6);
		.make-lg-column(7);
	}
	.social-nav {
		.make-md-column(6);
		.make-lg-column(5);
		text-align: right;
		.badge {
			background-color: rgba(0,0,0,.2);
			width: 34px;
			height: 34px;
			border-radius: 34px;
			line-height: 26px;
			vertical-align: middle;
			i {
				font-size: 18px;
				vertical-align: middle;
			}
			&:hover {
				background-color: @link-color;
			}
		}
	}
}

#footer-legal {
	padding: 20px 0 20px;
	border-top: 1px solid darken(@gray-lighter, 5%);
	p {
		margin: 0;
	}
	.make-row();
	nav {
		.make-md-column(6);
		.make-lg-column(7);

		a {
			margin-right: 2%;
		}
	}
	.copyright {
		.make-md-column(6);
		.make-lg-column(5);
		text-align: right;
	}
}

@media (max-width: @screen-sm-min) {
	#footer-main {
		.contact-info {
			text-align: center;
		}
	}
	#footer-social {
		padding-top: @grid-gutter-width;
		text-align: center;
		.social-nav {
			text-align: center;
			margin-top: (@grid-gutter-width / 1.7);
			margin-bottom: (@grid-gutter-width / 1.7);
		}
	}
	#footer-legal {
		text-align: center;
		.copyright {
			text-align: center;
			margin-top: (@grid-gutter-width / 1.7);
			margin-bottom: (@grid-gutter-width / 3);
		}
	}
}

//
// SECTIONS
// --------------------------------------------------
// --------------------------------------------------

.navbar-inner {
  background-color: darken(@brand-primary, 10%);
  a {
    color: #fff;
    text-shadow: none;
    &:hover {
      background-color: darken(@brand-primary, 20%);
    }
  }
}
&.page-secondary-nav {
	#section-nav {

    &.navbar {
	    background: @brand-primary;
	    color: #fff;
			.navbar-nav a {
				background-color: darken(@brand-primary, 5%);
				margin-left: 4px;
				&:hover {
					background-color: darken(@brand-primary, 15%);
				}
			}
    }
	}
}
#content > aside,
article.entry > aside {
	ul.nav {
		border-left: 1px solid #ddd;
	}
}

//
// Home
// --------------------------------------------------


#todays-program {
  border-radius: 0 0 @radius-default @radius-default;
  padding-top: (@grid-gutter-width / 2);
  padding-bottom: (@grid-gutter-width / 2);

  .mejs-container {
    margin: 0 auto;
  }
  article {
     .make-row();
		 @media (max-width: @screen-sm-min) {
			 header {
				 display: none;
			 }
		 }
     header {
       .make-sm-column(6);
     }
     section {
       .make-sm-column(6);
     }
  }
}


//
// Resources
// -------------------------------------------------

.resources-landing {
	form#search-resources {
		.make-row();
		padding: 0;
		text-align: center;
		.search-form {
			.make-sm-column(6);
			.make-sm-column-offset(2);
			padding: 1em 0;
		}
	}
	.media-list {
		.make-row();
		.media {
			img {
				margin: 0 auto;
			}
			&:first-child {
				margin-top: 1em;
			}
		}
	}
	aside {
		margin-top: 2em;
	}
}

#essentials {

	.media {
		.make-sm-column(6);
		.make-sm-column(4);
		
	}
}

#i-am-a {
	
	.media {
		.make-sm-column(6);
		.make-md-column(4);
		.clearfix();
	}
}


//
// Programs > ROH
// -------------------------------------------------

.roh {

  .navbar-inner {
    background-color: darken(@brand-primary, 10%);
    a {
      color: #fff;
      text-shadow: none;
      &:hover {
        background-color: darken(@brand-primary, 20%);
      }
    }
  }
	&.page-secondary-nav {
		#section-nav {

	    &.navbar {
		    background: @brand-primary;
		    color: #fff;
				.navbar-nav a {
					background-color: darken(@brand-primary, 5%);
					margin-left: 4px;
					&:hover {
						background-color: darken(@brand-primary, 15%);
					}
				}
	    }
		}
	}
}

//
// Programs > Seeking Him
// -------------------------------------------------

.sh {

  .navbar-inner {
    background-color: darken(@sh-brand-primary, 10%);
    a {
      &:hover {
        background-color: darken(@sh-brand-primary, 20%);
      }
    }
  }
	&.page-secondary-nav {
		#section-nav {

	    &.navbar {
		    background: @sh-brand-primary;
				.navbar-nav a {
					background-color: darken(@sh-brand-primary, 5%);
					&:hover {
						background-color: darken(@sh-brand-primary, 15%);
					}
				}
	    }
		}
	}
}

//
// True Woman
// -------------------------------------------------

.truewoman {

  .navbar-inner {
    background-color: darken(@tw-brand-primary, 10%);
    a {
      &:hover {
        background-color: darken(@tw-brand-primary, 20%);
      }
    }
  }
	&.page-secondary-nav {
		#section-nav {

	    &.navbar {
		    background: @tw-brand-primary;
				.navbar-nav a {
					background-color: darken(@tw-brand-primary, 5%);
					&:hover {
						background-color: darken(@tw-brand-primary, 15%);
					}
				}
	    }
		}
	}
}

//
// Lies Young Women Believe
// -------------------------------------------------

.lywb {

  .navbar-inner {
    background-color: darken(@lywb-brand-primary, 10%);
    a {
      &:hover {
        background-color: darken(@lywb-brand-primary, 20%);
      }
    }
  }
	&.page-secondary-nav {
		#section-nav {

	    &.navbar {
		    background: @lywb-brand-primary;
				.navbar-nav a {
					background-color: darken(@lywb-brand-primary, 5%);
					&:hover {
						background-color: darken(@lywb-brand-primary, 15%);
					}
				}
	    }
		}
	}
}

//
// Store
// -------------------------------------------------

.store {
  .navbar-inner {
    background-color: darken(@brand-primary, 10%);
    a {
      &:hover {
        background-color: darken(@brand-primary, 20%);
      }
    }
  }
	&.page-secondary-nav {
		#section-nav {
	    &.navbar {
		    background: @brand-primary;
				.navbar-nav a {
					background-color: darken(@brand-primary, 5%);
					&:hover {
						background-color: darken(@brand-primary, 15%);
					}
				}
	    }
		}
	}
	&.landing {
		.jumbotron {
			min-height: 300px;
			text-align: center;
		}

	}
	form[role="search"] {
		margin-bottom: 50px;
		text-align: center;
		.form-group {
			width: 100%;
		}
		input[type="search"] {
			width: 60% !important;
		}
		button {
			margin-left: 3px;
		}
	}
}

// .cards {
// 	.make-row();
// 	margin-bottom: 50px;
// 	.card {
// 		.make-sm-column(3);
// 		text-align: center;
// 		margin-bottom: 1em;
// 		h4 {
// 			margin: .5em 0;
// 		}
// 		p.product-type {
// 			margin: 0 0 1em;
// 		}
// 	}
// }

//
// Donate
// --------------------------------------------------

@navtab-bg: @well-bg;

.donate {
	.gift {
		text-align: center;
		padding: 30px;
		h2 {
			text-align: left;
		}
		label {
			margin-right: 10px;
			font-weight: normal;
		}
		.gift-frequency {
			.control-label {
				font-weight: 600;
			}
		}
	}
	.nav-tabs {
		border-bottom-color: @navtab-bg;
		li.active > a {
			background-color: @navtab-bg;
			border-color: @navtab-bg;
		}
	}
	.tab-content {
		background-color: @navtab-bg;
		padding: 30px;
		margin-bottom: 3em;
	}
	small.cc-types-images {
		font-weight: normal !important;
		float: right;
		img {
			max-width: 33px;
		}
	}
	.form-group-cvv {
		.make-xs-column(4);
		.make-sm-column(4);
	}
	.form-group-cc-expire {
		.make-xs-column(8);
		.make-sm-column(8);
		.make-row();
		label {
			display: block;
		}
		select {
			.make-xs-column(6);
			.make-sm-column(4);
		}
	}
	.form-group-email,
	.form-group-phone {
		.make-sm-column(6);
	}
	.form-group-email-phone {
		margin-bottom: 3em;
	}
	.form-group-address {
		margin-bottom: 3em;
	}
}


//
// Events
// --------------------------------------------------

.events {
	.jumbotron {
		text-align: center;
		color: #fff;
		background-color: #333;
		.clearfix();
		.video-container {
			.make-row();
			.video {
				.make-sm-column(6);
				.make-sm-column-offset(3);
			}
		}
	}
	.entry {
		.make-row();
		.main {
			.make-sm-column(9);
		}
		.section-nav {
			.make-sm-column(3);
		}


		// aside.section-nav {
// 			&.affix-top {
// 				position: static;
// 				margin-top: 0;
// 			}
// 			&.affix {
// 				width: 200px;
// 
// 				position: fixed;
// 				top: 110px;
// 			}
// 		}
	}
	.main {
		.speaker-list {
			.make-row();
		}
		h2 {
			clear: both;
		}
		.speaker {
			.make-sm-column(4);
			.make-xs-column(6);
			padding-bottom: 20px;
			h3 {
				font-size: 1.2em;
				text-align: center;
			}
		
			.clearfix();
			img {
				max-width: 100%;
			}
		}
		
	}
	
	.call-to-action {
		.btn-cta {
			width: 100%;
			margin: 30px 0;
		}
	}
	.video-list {
		.make-row();
		.video {
			.make-sm-column(6);
			margin-bottom: 30px;
		}
	}
	
	.challenge-list {
		.make-row();
		.challenge {
			.make-sm-column(6);
			margin-bottom: 30px;
		}
	}
}



//
// Contact Us
// --------------------------------------------------

.contact {
	
	form {
		
		textarea {
			height: 20em;
		}
	}
}



//
// CUSTOM HELPERS
// --------------------------------------------------
// --------------------------------------------------



@media (max-width: @screen-lg-min) {

  .breadcrumb {
    .hidden();
  }
	body {
		padding-top: 50px;
		// background: lightblue;
		&.has-top-social-buttons {
			padding-top: 96px;
		}
	}

}

@media
	(min-width : @screen-sm-min) and
	(max-width : @screen-lg-min) {
	body {
		padding-top: 100px;
	}
}

@media (min-width: @screen-sm-min) {
	.pull-left-sm {
		float: left;
	}
	.pull-right-sm {
	  float: right;
	}


}

@media (min-width: @screen-md-min) {
	.pull-left-md {
		float: left;
	}
	.pull-right-md {
	  float: right;
	}
  #member-menu {
    padding-right: 0;
    margin-left: 50px;
  }
  #search-menu {
     position: absolute;
     right: 22px;
  }

}


@media (min-width: @screen-lg-min) {
  body {
    padding-top: 50px;
		// background: green;
  }


	.pull-left-lg {
		float: left;
	}
	.pull-right-lg {
	  float: right;
	}

  #member-menu {
    padding-right: 55px;
  }
	#search-menu {
  	 position: absolute;
  	 right: 20px;
	}

}



// .radio,
// .checkbox {
//   label {
//       display: inline-block;
//       cursor: pointer;
//       position: relative;
//       padding-left: 25px;
//       margin-right: 15px;
//       font-size: 13px;
//   }
// 
//   input[type=radio] {
//       display: none;
//   }
// 
//   label:before {
//       content: "";
//       display: inline-block;
// 
//       width: 16px;
//       height: 16px;
// 
//       margin-right: 10px;
//       position: absolute;
//       left: 0;
//       bottom: 1px;
//       background-color: #eee;
//       box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
//   }
// 
//   .radio label:before {
//       border-radius: 8px;
//   }
//   input[type=radio]:checked + label:before {
//       content: "\2022";
//       color: #000;
//       font-size: 30px;
//       text-align: center;
//       line-height: 18px;
//   }
//   input[type=checkbox] {
//       display: none;
//   }
//   .checkbox label:before {
//       border-radius: 3px;
//   }
//   input[type=checkbox]:checked + label:before {
//       content: "\2713";
//       text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
//       font-size: 15px;
//       color: #f3f3f3;
//       text-align: center;
//       line-height: 15px;
//   }
// }
