//
// Load core variables and mixins
// --------------------------------------------------
@import "variables.less";
@import "mixins.less";
@import "theme-variables.less";
@import "theme-mixins.less";
@import "theme-components.less";

@grid-columns:              12;
@grid-gutter-width:         5%;
@grid-float-breakpoint:     768px;

@media (max-width : @screen-sm-min) {
	@grid-gutter-width: 24px;
}

.well {
	overflow: hidden;
}

//
// Typography
// --------------------------------------------------

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
	margin-top: 1em;
	margin-bottom: 1em;
}

html {
	font-size: 62.5%;
}
body > div {
	.font-size(1.6);
}

a {
	.transition(all .5s);
	&:hover {
		text-decoration: none;
	}
}

.req {
  color: @req-color;
}

//
// Header
// --------------------------------------------------


.navbar-brand {
  position: relative;
  z-index: 3;
}

.navbar-collapse {
	.form-control {
		margin-top: @grid-gutter-width;
	}
}

@media (max-width : @screen-sm-min) {
	.nav {
		.caret {
			float: right;
			margin-top: 7px;
		}
		i.fa {
			float: left;
			margin-right: 10px;
			margin-top: 3px;
		}
	}
}

body.store #parent-store,
body.blog #parent-blogs,
body.about #parent-about,
body.resources #parent-resources,
body.events #parent-events,
body.store #parent-store,
body.donate #parent-donate {
	> a {
		background-color: @well-bg;
	}
}

@mega-menu-text-color: #ccc;

.navbar-header {
	#parent-cart,
	#parent-account,
	#search-menu {
	  &:hover {
	    background-color: @mega-bg;
	  }
	  a {
	    background-color:  @mega-bg;
		
	    .transition(none);
	    &.collapsed {
	      background-color: transparent;
	    }
	    &:hover {
	      background-color:  @mega-bg;
				color: @mega-menu-text-color;
	    }
	  }
	}
}

#parent-cart,
#parent-account {
	position: relative;
	top: 1px;
}

#search-menu {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mega-menu {
	background-color:  @mega-bg;
	color: #fff;
}

#search-mega {

  /* z-index: 2; */
  background-color: @mega-bg;
  position: relative;
	.box-shadow(0 4px 0 rgba(0,0,0,.10));
	.navbar-form {
		.form-group {
			width: 84%;
			
		}
	  input.form-control {
	    margin-top: 20px;
	    margin-bottom: 20px;
			width: 100%;
	  }
		button {
			width: 15%;
		}
	}
}



//
// Main
// --------------------------------------------------

.page {
	article.entry {
		// padding-top: 100px;
		padding-bottom: @grid-gutter-width;
	
		.make-row();
	
		header, 
		.pager {
			.make-xs-column(12);
		}
	
		.pager {
			margin: 0;
		}
	}
}

.page-default {
	article.entry {

		.social-buttons {
			.make-sm-column(2);
			.make-sm-column-push(10);
			.make-md-column(1);
			.make-md-column-push(0);
			.make-lg-column(1);
		
		}
	
		section.main {
			.make-sm-column(10);
			.make-sm-column-pull(2);
			.make-md-column(8);
			.make-md-column-push(0);
			.make-lg-column(8);
		}
	
		aside {
			.box-sizing(border-box);
			.make-sm-column(12);
			.make-md-column(3);
			.make-lg-column(3);
			.nav {
				margin-bottom: @grid-gutter-width;
			}
		}
	}
}

.page-simple {
	article.entry {
		
		section.main {
			.make-sm-column(12);
			.make-sm-column-pull(0);
			.make-md-column(9);
			.make-lg-column(9);
		}
	
		aside {
			.make-sm-column(12);
			.make-md-column(3);
			.make-lg-column(3);
		}
	}
}

.page-full-width {
	article.entry {
		section.main {
			.make-xs-column(12);
		}
	}
}

.page-product-detail {
	
	.main {
		.product-photo {
			margin-bottom: @grid-gutter-width;
		}
		.actionbar {
			.make-row();
		
			.buy,
			.social-buttons-inner {
				.make-sm-column(6);
			}
		}
		.main-content {
			.make-row();
		
			.product-info {
				.make-sm-column(9);
			}
			.aside {
				.make-sm-column(3);
			}
			
			.testimonials {
				.make-sm-column(12);
				blockquote {
					.make-sm-column(6);
				}
			}
	
			.related-products {
				.make-sm-column(12);
				.pods {
					.make-row();
					.pod {
						.make-sm-column(4);
					}
				}
			}
		}
	}
	
	
}

.blog-entries {
	.make-row();
	
	.media-list {
		.make-sm-column(12);
		.make-md-column(9);
	}
	aside {
		.make-md-column(3);
	}
}

.media-list {
  .pull-left {
    margin-right: @grid-gutter-width;
  }
}

.top-social-buttons {
  button {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    .font-size(1.2);
    margin-bottom: 4px;
  }
  &.visible-xs {
    background: @gray-lighter;
    padding: 1.2% 1% 1%;
    position: fixed;
    top: 50px;
    width: 100%;
    .box-sizing(border-box);
    z-index: 1;
    border-bottom: 1px solid lighten(@gray-light, 28%);
		
		
    button {
      .font-size(1.3);
      width: 24.2%;
      margin-right: 1%;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

//
// Media Player
// --------------------------------------------------

.media-player-wrapper {
  position: relative;
  width: 100%;
  max-height: 346px;
  background-color: @gray-dark;
  margin-bottom: @grid-gutter-width;
	clear: both;
}

//
// Forms
// --------------------------------------------------

form[role="form"] {
  .form-group {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #cc_number {
    margin-bottom: 5px;
  }
  .form-group-country {
    margin-top: 10px;
  }
}

//
// Footer
// --------------------------------------------------

footer#global-footer {
	background-color: @gray-lighter;
	background: url(/img/retina_dust.png);
	padding-top: 50px;
	padding-bottom: 50px;
	clear: both;
	#footer-main {
		padding-bottom: 50px;
		
		.make-row();
		
		section {
			.make-md-column(4);
			&.featured-book {
				.pull-left {
					margin-right: @grid-gutter-width;
				}
				h4 {
					margin-top: 0;
				}
			}
			&.fun-stuff,
			&.contact-info {
				.make-sm-column(6);
				.make-md-column(4);
			}
		}
	
	}
	.thumbnails {
		.make-row();
		> a {
			.make-xs-column(4);
		}
	}

	.well {
		background-color: darken(@well-bg, 5%);
		&.email-sign-up {
			margin: @grid-gutter-width 0;
			position: relative;
			input[type="text"] {
				padding-right: 80px;
			}
			button {
				position: absolute;
				right: (@grid-gutter-width / 5);
				bottom: 0;
			}
		}
	}
	
	.email-sign-up {
		form {
			.make-row();
			.make-lg-column(12);
		}
	}
}

#footer-social {
	margin-top: @grid-gutter-width;
	padding: (@grid-gutter-width / 1.7) 0;
	border-top: 1px solid darken(@gray-lighter, 5%);
	clear: both;
	p {
		margin: 0;
	}
	.make-row();
	.credits {
		.make-md-column(6);
		.make-lg-column(7);
	}
	.social-nav {
		.make-md-column(6);
		.make-lg-column(5);
		text-align: right;
		.badge {
			background-color: rgba(0,0,0,.2);
			width: 34px;
			height: 34px;
			border-radius: 34px;
			line-height: 26px;
			vertical-align: middle;
			i {
				font-size: 18px;
				vertical-align: middle; 
			}
			&:hover {
				background-color: @link-color;
			}
		}
	}
}



#footer-legal {
	padding: 20px 0 20px;
	border-top: 1px solid darken(@gray-lighter, 5%);
	p {
		margin: 0;
	}
	.make-row();
	nav {
		.make-md-column(6);
		.make-lg-column(7);
		
		a {
			margin-right: 2%;
		}
	}
	.copyright {
		.make-md-column(6);
		.make-lg-column(5);
		text-align: right;
	}
}

@media (max-width: @screen-sm-min) {
	#footer-main {
		.contact-info {
			text-align: center;
		}
	}
	#footer-social {
		padding-top: @grid-gutter-width;
		text-align: center;
		.social-nav {
			text-align: center;
			margin-top: (@grid-gutter-width / 1.7);
			margin-bottom: (@grid-gutter-width / 1.7);
		}
	}
	#footer-legal {
		text-align: center;
		.copyright {
			text-align: center;
			margin-top: (@grid-gutter-width / 1.7);
			margin-bottom: (@grid-gutter-width / 3);
		}
	}
}

//
// Home
// --------------------------------------------------


#todays-program {
	border-radius: 0 0 @radius-default @radius-default;
}


//
// Programs > ROH
// -------------------------------------------------

.roh {
  .jumbotron {
    background-color: @brand-primary;
    color: #fff;
  }
  .navbar-inner {
    background-color: darken(@brand-primary, 10%);
    a {
      color: #fff;
      text-shadow: none;
      &:hover {
        background-color: darken(@brand-primary, 20%);
      }
    }
  }
}

//
// Programs > Seeking Him
// -------------------------------------------------

.sh {
  .jumbotron {
    background-color: @sh-brand-primary;
    color: #fff;
  }
  .navbar-inner {
    background-color: darken(@sh-brand-primary, 10%);
    a {
      color: #fff;
      text-shadow: none;
      &:hover {
        background-color: darken(@sh-brand-primary, 20%);
      }
    }
  }
}


//
// True Woman
// -------------------------------------------------

.truewoman {
  .jumbotron {
    background-color: @tw-brand-primary;
    color: #fff;
  }
  .navbar-inner {
    background-color: darken(@tw-brand-primary, 10%);
    a {
      color: #fff;
      text-shadow: none;
      &:hover {
        background-color: darken(@tw-brand-primary, 20%);
      }
    }
  }
}

//
// Lies Young Women Believe
// -------------------------------------------------

.lywb {
  .jumbotron {
    background-color: @lywb-brand-primary;
    color: #fff;
  }
  .navbar-inner {
    background-color: darken(@lywb-brand-primary, 10%);
    a {
      color: #fff;
      text-shadow: none;
      &:hover {
        background-color: darken(@lywb-brand-primary, 20%);
      }
    }
  }
}

//
// Store
// -------------------------------------------------



//
// Custom helpers
// --------------------------------------------------



@media (max-width: @screen-lg-min) {

  .breadcrumb {
    .hidden();
  }
	body {
		padding-top: 50px;
		// background: lightblue;
		&.has-top-social-buttons {
			padding-top: 90px;
		}
	}
	
}

@media  
	(min-width : @screen-sm-min) and 
	(max-width : @screen-lg-min) {
	body {
		padding-top: 100px;
	}
}

@media (min-width: @screen-sm-min) {
	.pull-left-sm {
		float: left;
	}
	.pull-right-sm {
	  float: right;
	}
	

}

@media (min-width: @screen-md-min) {
	.pull-left-md {
		float: left;
	}
	.pull-right-md {
	  float: right;
	}
  #member-menu {
    padding-right: 0;
    margin-left: 50px;
  }
  #search-menu {
     position: absolute;
     right: 15px;
  }
	
}


@media (min-width: @screen-lg-min) {
  body {
    padding-top: 50px;
		// background: green;
  }
	
  
	.pull-left-lg {
		float: left;
	}
	.pull-right-lg {
	  float: right;
	}
	
  #member-menu {
    padding-right: 45px;
  }
	#search-menu {
  	 position: absolute;
  	 right: 20px;
	}

}

/*
 * Off Canvas navbar toggle right
 * --------------------------------------------------
 */

@media (max-width: @screen-sm-min) {
	.row-offcanvas {
		clear: both;
	}
  .row-offcanvas .collapsing {
	-webkit-transition: none 0;
    -moz-transition: none 0;
    transition: none 0;
  }
 .row-offcanvas .navbar {
	position: absolute;
	z-index: 2;
    right:0;
    height:100%;
    width:55px;
    border:0;

  }
  .row-offcanvas .navbar-toggle {
    margin-right: 5px;
  	margin-left: 5px;
		right: 20%;
  }
  .row-offcanvas {
    position: relative;
  }
  .row-offcanvas-right.active .navbar {
	position: absolute;
	z-index: 2;
    right: -28.4%;
    width:40%;

    // background-color:#eee;
    // border:0 solid #ddd;
    border-left-width:1px;
  }
  .row-offcanvas-right.active {
    left: 20%;
  }  
  .row-offcanvas-right.active .navbar-collapse {
    position: relative;
    width: 80%;
  }  
  .row-offcanvas .content {
	width:calc(100% - 60px);
  }
}
