RewriteEngine on

RewriteRule ^donate/$   donate.php
RewriteRule ^donate$    donate.php

RewriteRule ^about-us/$   who-we-are.php
RewriteRule ^about-us$    who-we-are.php

RewriteRule ^about-us/who-we-are/$   about-who-we-are.php
RewriteRule ^about-us/who-we-are$    about-who-we-are.php

RewriteRule ^resources/$   resources.php
RewriteRule ^resources$    resources.php
RewriteRule ^resources/by-topic/bible$    	resources-by-topic-bible.php
RewriteRule ^resources/by-topic/bible/$    	resources-by-topic-bible.php
RewriteRule ^resources/by-category/articles$    	resources-by-category-articles.php
RewriteRule ^resources/by-category/articles/$    	resources-by-category-articles.php

RewriteRule ^programs/revive-our-hearts/immanuel/$   program-roh.php
RewriteRule ^programs/revive-our-hearts/immanuel$    program-roh.php

RewriteRule ^programs/seeking-him/$   program-sh.php
RewriteRule ^programs/seeking-him$    program-sh.php

RewriteRule ^blogs/true-woman/$   blog-truewoman.php
RewriteRule ^blogs/true-woman$    blog-truewoman.php

RewriteRule ^blogs/true-woman/post/$   blog-truewoman-post.php
RewriteRule ^blogs/true-woman/post$    blog-truewoman-post.php

RewriteRule ^blogs/lies-young-women-believe/$   blog-lywb.php
RewriteRule ^blogs/lies-young-women-believe$    blog-lywb.php

RewriteRule ^blogs/lies-young-women-believe/post/$   blog-lywb-post.php
RewriteRule ^blogs/lies-young-women-believe/post$    blog-lywb-post.php

RewriteRule ^store/$   store.php
RewriteRule ^store$    store.php

RewriteRule ^store/sample-product/$   store-sample-product.php
RewriteRule ^store/sample-product$    store-sample-product.php

RewriteRule ^events/$   events.php
RewriteRule ^events$    events.php

RewriteRule ^event-detail/$   event-detail.php
RewriteRule ^event-detail$    event-detail.php

RewriteRule ^contact/$   contact.php
RewriteRule ^contact$    contact.php



RewriteRule ^[A-Za-z0-9-]/$	[A-Za-z0-9-].php
RewriteRule ^[A-Za-z0-9-]$	[A-Za-z0-9-].php
